body {
    background-color: aqua;
}

h1 {
    color: rgb(5, 91, 117);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

img {
    display: inline-block;
    width: 200px
}

.info-container {
    display: inline-block;
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 5px solid black;
    margin: 50px;
    overflow: hidden;
}